
# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Connection
MONGO_URI=mongodb+srv://mahendrapuniya92:<Test@12345>@tharngo.86kduuo.mongodb.net/?retryWrites=true&w=majority&appName=tharNgo

# JWT Configuration
JWT_SECRET=2587dcf06997bfaffc01cd724b8da94fe397980580faf9f47ace9c99788be40e
JWT_EXPIRES_IN=30d

# Frontend URL for CORS
FRONTEND_URL=http://localhost:3000

# Email Configuration
EMAIL_SERVICE=gmail
EMAIL_USER=tech.developer0092@gmail.com
EMAIL_PASS=Sample@12345
EMAIL_FROM=tech.developer0092@gmail.com

# Razorpay Configuration (for donations)
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret




# IbqgMS5KSJYXZnVY , mahendrapuniya92 monogo`db password Test@12345